@import "vars"
//  COLOR
.accent-main-color
  color: $accent-main
.white
  color: white
.accent-text
  color: $accent-text
.pointer
  cursor: pointer

// POSITION
.relative-flow
  position: relative
  z-index: 1000

//  FONT
.bold
  font-family: "Roboto-Bold", Serif, serif
  font-weight: bold
.fz-16
  font-size: 16px
.fz-20
  font-size: 20px
.fz-25
  font-size: 25px
.fz-30
  font-size: 30px
.fz-50
  font-size: 50px

// MARGIN
.ml-10
  margin-left: 10px
.mr-10
  margin-right: 10px
.mt-30
  margin-top: 30px
.mb-10
  margin-bottom: 10px
.mb-18
  margin-bottom: 18px
.mb-20
  margin-bottom: 20px
.mb-30
  margin-bottom: 30px
.mt-15
  margin-top: 15px
.mt-20
  margin-top: 20px
.pt-10
  padding-top: 10px
.pt-50
  padding-top: 50px
.lh-16
  line-height: 1.6em
.p-5px
  padding: 5px

.text-lighter
  font-family: "Roboto-Light", Sans-serif, serif
  font-weight: lighter
.text-right
  text-align: right
.text-uppercase
  text-transform: uppercase
.text-center
  text-align: center
.no-wrap
  white-space: nowrap
//  DISPLAY
.d-flex
  display: flex
  &.justify-center
    justify-content: center
  &.justify-around
    justify-content: space-around
  &.justify-between
    justify-content: space-between
  &.items-center
    align-items: center
  &.items-between
    justify-content: space-between
.d-inline-block
  display: inline-block

// FLOAT
.float-right
  float: right
.float-left
  float: left
// WIDTH
.w-100
  width: 100%

// HIDDEN
.page
  &.md
    .md-hidden
      display: none
  &.lg
    .lg-hidden
      display: none
